.admin-table-list {
    width: 100%;
    border-collapse: collapse;
    color: #FFFFFF;
    margin-bottom: 5px;
}

.admin-table-list tr:nth-child(odd) {
    /*background: #EDEDEB*/
}


.admin-table-list tr:last-child td {
    border-color: transparent;
}

.admin-table-list tr:hover td {
    /*background-color: #ffead5;*/
    border-bottom-color: #C0C0C0;
    color: #1a1a1a;
}


.admin-table-list tr.title th {
    font-size: 18px;
    border-bottom: 1px solid silver;
    margin-bottom: 10px;
    text-align: left;
    color: #53637D;
}

.admin-table-list tr td {
    font-size: 15px;
    line-height: 35px;
    border-bottom: 1px solid #eef0ec;
    padding: 0;
    text-align: left;
    color: #4a4a4a;
    -webkit-transition:color .285s, border-color .285s;
    -moz-transition:color .285s, border-color .285s;
    -o-transition:color .285s, border-color .285s;
    transition:color .285s, border-color .285s;
    white-space: nowrap;
}

.admin-table-list tr td a {
    text-decoration: none;
    color: inherit;
    display: block;
}

.admin-table-list tr.row {
    cursor: pointer;
}

.admin-table-list tr.row.active-row * {
    /*font-weight: bold;*/
}

.admin-table-list tr.row.grey-row * {
    color: #979995 !important;
}

.admin-table-list td a:hover {
    /*color: #F67209;*/

}

.admin-table-controlls {
    padding: 5px;
}

.table-filter {
    width: 100%;
    border-collapse: collapse;
}