.breadcrumb {
    margin: -10px 0px 10px -10px;
    padding-left: 5px;
    background-color: #f7f6f6;
    line-height: 20px;
    border-bottom: 1px solid silver;
    border-right: 1px solid silver;
}

.breadcrumb a {
    color: #000;
}