h2 {
    margin-bottom: 0;
}

.member-actions .button {
    margin-left: 6px;
}

.member-actions {

}

.member-info-box {
    float: left;
    margin-right: 50px;
    margin-bottom: 50px;
    width: 350px;
    min-height: 200px;
    position: relative;
}

.box-bottom-row {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    text-align: right;
}

.box-bottom-row .button {
    /*width: 150px;*/
}


.member-info-box.last-box {
    margin-right: 0;
}

.member-info-box.box-xl {
    width: 750px;
}

.member-info {
    margin-top: 8px;
}

.members-list-filters {
    padding-left: 4px;
}

.members-list-filters ul {
}

.members-list-filters ul li {
    padding: 5px;
}
.members-list-filters ul li a {
    display: block;
    line-height: 20px;
    height: 20px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #f5f5f5;
    border: 1px solid #C7C7C7;
    padding: 4px;
    color: #000;
    text-decoration: none;
    font-size: 14px;
}

.members-list-filters ul li.active a {
    background-color: #5588D9;
    color: #fff;
}