ul.navigation {
    margin-bottom: 35px;

}


ul.navigation a:hover {
    text-decoration: underline !important;
}

ul.navigation a {
    display: block;
    padding: 5px 0 5px 10px;
    text-decoration: none;
    color: #000;
    text-shadow: white 0px 1px 1px;
}

ul.navigation ul  {
    display:  none;
}


ul.navigation ul ul a {
    padding: 5px 2px 5px 24px;
}

ul.navigation li.active a {
    background-color: #5588d9;
    font-weight: bold;
    color: #fff;
    text-shadow: white 0px 0px 0px;
    margin-right: -1px;
}