
dl.zend_form {
    padding: 0;
}

dl.zend_form dt {
    min-height: 25px;
    font-weight: bold;
    padding: 10px 0 0 0;
    width: 145px;
    font-size: 95%;
    font-weight: bold;
}

dl.zend_form dd {
    margin: -25px 0 0 0;
    padding: 0 0 10px 145px;
    border-bottom: 1px solid #EEE;
    display: block;
    min-height: 20px;
}

dl.zend_form ul.errors {
    margin: 0;
    padding: 0;
}

dl.zend_form ul.errors li {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #ff3333;
}


dl.zend_form p.description {
    margin-top: 4px;
    padding: 0;
    list-style: none;
    color: #666666;
    float: none;
    width: auto;
}

dl.zend_form fieldset {
    margin: 0 0 0 -145px;
    border: 0;
}

dl.zend_form fieldset legend {
    font-size: 140%;
    font-weight: normal;
}

dl.zend_form textarea {
    width: 100%;
}