#logo-container {
    padding-bottom: 18px;
    padding-top: 7px;
}

#navbar {
    width: 229px;
    margin: auto;
}

#navbar-container ul.navigation {
    padding: 0 0 41px 0;
    margin: 0 0 0 -15px;

    border-top: 1px solid #ee222e;

}

#navbar-container ul.navigation li {
    display: block;
    list-style: none;
    border-bottom: 1px solid #ee222e;
}

#navbar-container ul.navigation li ul {
    display: none;
}


#navbar-container ul.navigation li a {
    line-height: 35px;
    display: block;
    height: 35px;
    color: #808080;
    font-size: 11px;
    padding: 0 20px;
    text-decoration: none;
    font-weight: bold;
}

#navbar-container ul.navigation li a:hover, #navbar-container ul.navigation li.active a {
    color: #fefefe;
    background-color: #808080;
}

.banners-block {
    margin-top: 4px;
}