a.button, input[type='submit'], input[type='button'] {
    height: 40px;
    display: inline-block;
    margin: 0;
    padding: 0 10px;
    line-height: 40px;
    text-shadow: #FFF 0px 1px 0px;
    text-decoration: none;
    font-size: 16px;
    border: 1px solid #FFF;


}

a.button:hover, input[type='submit']:hover, input[type='button']:hover {
    color: #f0a400;
    border: 1px solid #f0a400;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgb(255,255,255) 0%, rgb(234,234,234) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,255,255)), color-stop(100%,rgb(234,234,234))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgb(255,255,255) 0%,rgb(234,234,234) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgb(255,255,255) 0%,rgb(234,234,234) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgb(255,255,255) 0%,rgb(234,234,234) 100%); /* IE10+ */
    background: linear-gradient(top, rgb(255,255,255) 0%,rgb(234,234,234) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
}

a.button:active {
    background: #2c3132;
}